# Database connection string - Required
# Format: postgresql+asyncpg://username:password@hostname:port/database
#DATABASE_URL=  postgresql+asyncpg://username:password@hostname:port/database

# Test user ID for local development and testing
#TEST_USER_ID= 00000000-0000-0000-0000-000000000000


